{% extends 'base.html' %}

{% block current_user_content %}
<div class="container-fluid content">

    <!-- Flash message -->
    {% include '_flash_message.html' %}
    <!-- End of flash message -->

    <!-- Page title -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 mb-4">{{ title }} ({{ all_products }})</h1>
        </div>
    </div>
    <!-- End of page title -->

    <!-- List of all products -->
    <div class="row products">
        <div class="col-md-12">
            <!-- Product list -->
            <div class="table-responsive">
                <table id="data" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Timestamp</th>
                            {% if current_user.type == "admin" %}
                            <th>Buyer</th> <!-- New column for actions -->
                            {% endif %}
                            <th>Actions</th> <!-- New column for actions -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Get all products from the database -->
                        {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ moment(product.timestamp).format('Do MMMM YYYY, h:mm:ss a') }}</td>
                            {% if current_user.type == "admin" %}
                            <th> {{ product.buyer.first_name.title() }} {{ product.buyer.last_name.title() }} </th>
                            {% endif %}
                            <!-- New column for actions -->
                            <td>
                                {% if current_user == product.buyer %}
                                <a href="{{ url_for('edit_product', id=product.id) }}" class="btn btn-primary">Edit</a>
                                <a href="{{ url_for('delete_product', id=product.id) }}"
                                    class="btn btn-danger">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- End of getting all products from the database -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End of list of all products -->
</div>
{% endblock %}

{% block current_user_scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable();
    });
</script>
{% endblock %}