{% extends 'base.html' %}

{% block current_user_content %}
<div class="container-fluid content">

    <!-- Flash message -->
    {% include '_flash_message.html' %}
    <!-- End of flash message -->

    <!-- Page title -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 mb-4">{{ title }} ({{ view_products }})</h1>
        </div>
    </div>
    <!-- End of page title -->

    <!-- List of all products -->
    <div class="row products">
        <div class="col-md-12">
            <!-- Product list -->
            <div class="table-responsive">
                <table id="data" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Listing On</th>
                            <th>Listing Date</th>
                            <th>Open Date</th>
                            <th>Close Date</th>
                            <th>Status</th>
                            <th>Sell</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Get all products from the database -->
                        {% for product in products %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td> {{ product.name.upper() }}</td>
                            <td>{{ product.listing_at}}</td>
                            <td>{{product.listing_date.strftime('%b %d, %Y')}}</td>
                            <td>{{product.open_date.strftime('%b %d, %Y')}}</td>
                            <td>{{product.close_date.strftime('%b %d, %Y')}}</td>
                            <td>{{ product.status }}</td>
                            {% if product.status != 'complete' %}
                            <td>
                                    <a href="{{ url_for('add_details', product_id=product.id) }}" class="btn btn-primary">sell</a>
                            </td>
                            {% else %}
                            <td>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        <!-- End of getting all products from the database -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End of list of all products -->
</div>
{% endblock %}

{% block current_user_scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable();
    });
</script>
{% endblock %}