{% extends 'base.html' %}

{% block current_user_content %}
<div class="container-fluid content" style="padding: 0px; padding-left: 10px;">

    <!-- Flash message -->
    {% include '_flash_message.html' %}
    <!-- End of flash message -->

    <!-- Page title -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 mb-4">{{ title }} ({{ all_pans }})</h1>
        </div>
    </div>
    <!-- End of page title -->

    <!-- List of all pans -->
    <div class="row pans">
        <div class="col-md-12">
            <!-- pan list -->
            <div class="table-responsive">
                <form id="checkbox-form" action="{{ url_for('available_pans', transaction_id=transaction.id) }}" method="post">
                    <table data-bs-toggle="table" data-fixed-header="true" data-height="400" id="data" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th data-priority="1">Select  &nbsp;<input type="checkbox" id="select-all"    style=" width: 60px;
                                    padding-top: 10rem;
                                    height: 25px;"
                                > </th>
                                    </select> </th>
                                <!-- <th data-priority="2">ID</th> -->
                                <th data-priority="4">Name</th>
                                <th data-priority="3">Pan</th>
                                <th data-priority="5">DP id</th>
                                {% if current_user.type == "admin" %}
                                <th data-priority="6">Timestamp</th>
                                <th data-priority="7">Seller</th> <!-- New column for actions -->
                                {% endif %}
                                <th data-priority="8">Actions</th> <!-- New column for actions -->
                            </tr>
                        </thead>
                        <tbody>
            
                            <!-- Get all pans from the database -->
                            {% for pan in pans %}
                            <tr>
                                <td>{{ loop.index }}  <input type="checkbox" name="ID[]" value="{{ pan.id }}"></td>
                                <!-- <td>{{ loop.index }}</td> -->
                                <td>{{ pan.name }}</td>
                                <td>{{ pan.pan_number }}</td>
                                <td>{{ pan.dp_id }}</td>
                                {% if current_user.type == "admin" %}
                                <td>{{ moment(pan.timestamp).format('Do MMMM YYYY, h:mm:ss a') }}</td>
                                <th> {{ pan.seller.first_name.title() }} {{ pan.seller.last_name.title() }} </th>
                                {% endif %}
                                <!-- New column for actions -->
                                <td>
                                    <a href="{{ url_for('edit_pan', id=pan.id) }}" id="nostyle">
                                        <i class="fi fi-rr-pencil" style="font-size: 0.875rem;"></i>
                                    </a>
                                    &nbsp; &nbsp;
                                    <a href="{{ url_for('delete_pan', id=pan.id) }}" id="nostyle">
                                        <i class="fi fi-rr-trash" style="font-size: 0.875rem;"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            <!-- End of getting all pans from the database -->
                        </tbody>
                    </table>
                    <button type="submit" id="submit-btn" class="btn btn-primary">Give Pan</button>
                </form>
            </div>
        </div>
    </div>
    <!-- End of list of all pans -->
    <hr>
    <br>
    <div class="row">
        <br>
        <h1>Add Pan</h1>
        <div class="col-md-6 success">
            <p style="color: black;">
                Want to add your pan? <br><br>
                <a class="btn" style="background-color: #2d1b37; color: white;" href=" {{ url_for('add_pan') }} ">
                    Add Pan
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block current_user_scripts %}

 <script>
    $(document).ready(function () {
        var table = $('#data').DataTable();
        fixedHeader: true
        columnDefs: [
      { orderable: false, targets: 0 } // Assumes the checkbox is in the first column
    ]

        //     // Handle select all checkbox change event
        $('#select-all').on('change', function () {
            var rows = table.rows({ page: 'current' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked).trigger('change');

        
        });
    });

    $('#nostyle').removeAttr('style');


    // Stop propagation for the select-all checkbox click
  $('#select-all').on('click', function(e){
    e.stopPropagation();
  });

    // // For Subject To dropdown
    // $(document).ready(function () {
    //     // Handle change event of the "Subject To" dropdown
    //     $('#def').change(function () {
    //         // Get the selected value
    //         var selectedSubject = $(this).val();

    //         // Update all corresponding cells in the table
    //         $('tbody tr').each(function () {
    //             // Find the select element in the current row
    //             var subjectDropdown = $(this).find('select[name="subject"]');

    //             // Update the selected value
    //             subjectDropdown.val(selectedSubject);

    //             // If you want to trigger the change event on the select element
    //             // subjectDropdown.trigger('change');
    //         });
    //     });
    // });
    
//     $(document).ready(function() {
//     $('#checkbox-form').on('submit', function(e) {
//         e.preventDefault(); // Prevent the default form submission
//         var formData = $(this).serialize(); // Serialize form data

//         $.post('/available-pans', formData, function(response) {
//             console.log(response);
//             // Handle the response here, e.g., show a message to the user
//         });
//     });
// });

</script> 
<!-- 
<script>
$(document).ready(function () {
    // Initialize DataTables
    var table = $('#data').DataTable();

    // Select all functionality
    $('#select-all').on('change', function () {
        var rows = table.rows({ page: 'current' }).nodes();
        $('input[type="checkbox"]', rows).prop('checked', this.checked).trigger('change');
    });

    // Limit the number of checkboxes that can be checked
    // var maxLimit = {{ transaction.details.quantity }};
    // $('input[type="checkbox"][name="ID[]"]').on('change', function (evt) {
    //    if ($('input[type="checkbox"][name="ID[]"]:checked').length > maxLimit) {
    //        this.checked = false;
    //        alert('You can only select ' + maxLimit + ' pans.');
    //    }
    // });

    // AJAX form submission
    $('#checkbox-form').on('submit', function(e) {
        e.preventDefault(); // Prevent default form submission
        var maxLimit = {{ transaction.details.quantity }};
        if ($('input[type="checkbox"][name="ID[]"]:checked').length > maxLimit) {
            alert('You must select exactly ' + maxLimit + ' pans.');
            return;
        }

        var formData = $(this).serialize(); // Serialize form data
        $.post($(this).attr('action'), formData, function(response) {
            // Handle the response here
            console.log(response);
            if(response.status === "success") {
                // Success action, e.g., redirecting or showing a success message
                alert('The transaction has been updated successfully.');
                window.location.href = '/all-transactions'; // Redirect or update UI as needed
            } else {
                // Handle error
                alert('An error occurred. Please try again.');
            }
        }).fail(function() {
            alert('An error occurred. Please try again.');
        });
    });
});
</script> -->


{% endblock %}