{% extends 'base.html' %}

{% block current_user_content %}
<div class="container-fluid content">

    <!-- Flash message -->
    {% include '_flash_message.html' %}
    <!-- End of flash message -->

    <!-- Page title -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="mt-4 mb-4">{{ title }} - {{ details }}  &nbsp ({{ total_transaction }})</h4>
        </div>
    </div>
    <!-- End of page title -->

    <!-- List of all products -->
    <div class="row products">
        <div class="col-md-12">
            <!-- Product list -->
            <div class="table-responsive">
                <table id="data" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            {% if current_user.type == "buyer" %}
                            <th>Seller</th>
                            {% endif %}
                            <th>Name</th>
                            <th>Pan Number</th>
                            <th>Sub to</th>
                            <th>Form Type</th>
                            <th>Price</th>
                            <th>Date</th>
                            <!-- <th>Allotment Status</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Get all products from the database -->
                        {% for detailtransaction in transactions %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            {% if current_user.type == "buyer" %}
                            <td>
                                {{ detailtransaction.transaction.seller.first_name.title() }}
                            </td>
                            {% endif %}
                            <td> {{ detailtransaction.pan.name }} </td>
                            <td> {{ detailtransaction.pan.pan_number }} </td>
                            <td> {{ detailtransaction.transaction.details.subject }} </td>
                            <td> {{ detailtransaction.transaction.details.formtype }} </td>
                            <td> {{ detailtransaction.transaction.details.price }} </td>
                            <td>{{ moment(detailtransaction.transaction.timestamp).format('Do MMMM YYYY, h:mm:ss a') }}
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- End of getting all transactions from the database -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total:</th>
                            {% if current_user.type == "buyer" %}
                            <th></th>
                            {% endif %}
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                           
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- End of list of all transactions -->
    <div id="datatable-buttons" class="pagination"></div>
</div>

<div>
    <a href="{{ url_for('allotment', product_id = transactions[0].transaction.product.id, ipo = transactions[0].transaction.product.name) }}" class="btn btn-primary">Check Allotment</a>
</div>
{% endblock %}

{% block current_user_scripts %}
<script>
    $(document).ready(function() {
        var table = $('#data').DataTable({
            dom: '<"row"<"col-md-6"l><"col-md-6"f>>' +
                '<"row"<"col-md-12"tr>>' +
                '<"row"<"col-md-5"i><"col-md-7"p>>',
            buttons: [
                { extend: 'excel', className: 'btn btn-primary', text: 'Excel' },
                { extend: 'pdf', className: 'btn btn-primary', text: 'Pdf' },
                { extend: 'print', className: 'btn btn-primary', text: 'Print' }
            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), total;
                var columnIndex = {% if current_user.type == "buyer" %} 6 {% else %} 5 {% endif %};
                total = api.column(columnIndex, { page: 'current' }).data().reduce(function (a, b) {
                    return Number(a) + Number(b.replace(/[\$,]/g, ''));
                }, 0);
                $(api.column(columnIndex).footer()).html(total.toFixed(2));
            }
        });
    
        // Manually append buttons to your designated area
        table.buttons().container().appendTo($('#datatable-buttons'));
    });
</script>
{% endblock %}
