{% extends 'base.html' %}

{% block ipo_css %}

<link rel="stylesheet" href="../../static/css/product.css" media="all">
<link rel="stylesheet" href="../../static/css/product1.css" media="all">
<link rel="stylesheet" href="../../static/css/product2.css" media="all">
{% endblock %}

{% block current_user_content %}

<div class="container-fluid content">

    <!-- Flash message -->
    {% include '_flash_message.html' %}
    <!-- End of flash message -->

    <!-- Page title -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 mb-4">{{ title }} ({{ view_products }})</h1>
        </div>
    </div>
    <br>
    <!-- End of page title -->


    <main class="flex-grow container">

        {% for product in products %}


        <div class="card card-large" id="top">
            <div class="flex flex-space-between flex-gap-8">
                <div class="flex-row flex-wrap flex-align-center flex-grow">
                    <h3 class="h3 shrink-text">{{product.name.upper()}}</h1>
                        <div class="ink-600 show-from-tablet-landscape" style="opacity: 0.5;">
                            <i class="icon-dot"></i>
                        </div>
                </div>



                <!-- 
                <form method="post" class="flex margin-0" style="align-items: center">
                    <input type="hidden" name="csrfmiddlewaretoken"
                        value="xk7Vr1AByKm2FwO6d6znWvSJoM0MshRzFzcFGVl3ZUMZlg0FxH26M75nbi8Z649K">
                    <input type="hidden" name="next" value="/company/506852/">


                    <button class="margin-right-8 plausible-event-name=Excel+Company plausible-event-user=unregistered"
                        formaction="/user/company/export/722/" aria-label="Export to Excel">
                        <i class="icon-download"></i>
                        <span class="hide-on-mobile">Export to Excel</span>
                    </button>


                    <div class="dropdown-filter" id="add-to-sublists">

                        <button formaction="/api/company/2597/add/" class="button-primary no-margin">
                            <i class="icon-plus"></i> Follow
                        </button>

                        <div id="company-in-sublists" class="hidden"></div>
                    </div>
                </form>
                 -->
            </div>


            <div class="company-info">
                <div class="company-ratios">
                    <ul id="top-ratios">
                        <li class="flex flex-space-between" data-source="default">
                            <span class="name">

                                Issue Size

                            </span>

                            <span class="nowrap value">



                                <span class="number"> {{product.issue_size}}</span>

                                Cr.

                            </span>

                        </li>

                        <li class="flex flex-space-between" data-source="default">
                            <span class="name">
                                Price
                            </span>

                            <span class="nowrap value">
                                <span class="number">{{product.price}}</span>
                                Rs.
                            </span>

                        </li>

                        <li class="flex flex-space-between" data-source="default">
                            <span class="name">
                                Listing On
                            </span>


                            <span class="nowrap value">
                                <span class="number"> {{product.listing_at}} </span>

                        </li>

                        <li class="flex flex-space-between" data-source="default">
                            <span class="name">

                                Open Date

                            </span>


                            <span class="nowrap value">

                                <span class="number"> {{product.open_date.strftime('%b %d, %Y')}} </span>

                            </span>

                        </li>

                        <li class="flex flex-space-between" data-source="default">
                            <span class="name">

                                Close Date

                            </span>


                            <span class="nowrap value">



                                <span class="number">{{product.close_date.strftime('%b %d, %Y')}}</span>

                            </span>

                        </li>

                        <li class="flex flex-space-between" data-source="default">
                            <span class="name">

                                Listing Date

                            </span>


                            <span class="nowrap value">

                                <span class="number"> {{product.listing_date.strftime('%b %d, %Y')}} </span>

                            </span>

                        </li>

                        <li class="flex flex-space-between" data-source="default">
                            <span class="name">
                                Lot Size
                            </span>
                            <span class="nowrap value">
                                <span class="number">{{product.lot_size}}</span>
                            </span>
                        </li>

                        <li class="flex flex-space-between" data-source="default">
                            <span class="name">
                                Status
                            </span>
                            <span class="nowrap value">
                                <span class="number">{{product.status}}</span>
                            </span>
                        </li>


                    </ul>
                    <!-- 
                    <div style="margin-top: 32px;">

                        <div class="flex-row flex-space-between flex-baseline flex-gap-16">
                            <div class="dropdown-typeahead flex-grow" style="max-width: 480px;">
                                <input id="quick-ratio-search" type="text" placeholder="eg. Promoter holding"
                                    style="width: 100%;">
                            </div>


                            <a href="/user/quick_ratios/?next=/company/506852/" class="smaller">
                                <i class="icon-pencil"></i>
                                <span class="upper font-weight-500 letter-spacing">Edit ratios</span>
                            </a>
                        </div>
                    </div>
                     -->
                </div>
            </div>
            <br>
            <div class="button-container" style="display: flex;justify-content: flex-end;">

                <button type="button" style="border:2px solid ;padding: 1rem 2rem;width: fit-content;">
                    <a href="{{ url_for('add_details', product_id=product.id) }}">sell</a>
                </button>
            </div>
        </div>
        {% endfor %}

    </main>
</div>
<!-- </body> -->

<!-- </html> -->

{% endblock %}