:root {
    /* CSS HEX */
    --sienna: #8C3B1Eff;
    --bondi-blue: #3B94B2ff;
    --syracuse-red-orange: #E33900ff;
    --myrtle-green: #336D67ff;
    --midnight-green: #003539ff;
    --white: #ffffff;
}

body {
    background-color: var(--white);
    color: var(--bondi-blue);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}